_The following excercises are adapted from Kevin Sheppard's Introduction to Python for Econometrics, Statistics and Data Analysis_

1- Enter the following into Python, assigning each to a unique variable name:
- 4
- 3.1415
- 1.0
- 2+4j 
- 'Hello'
- 'World'

In [1]:
x = 4
y = 3.1415
z = 1.0
a = 2 + 4j
b = 'Hello'
c = 'World'

2- What is the type of each variable? Use _type_ if you arenâ€™t sure.

In [2]:
type(x)

int

In [3]:
type(y)

float

In [4]:
type(z)

float

In [5]:
type(a)

complex

In [6]:
type(b)

str

In [7]:
type(c)

str

3- Which of the 6 types can be:
- Added +
- Subtracted -
- Multiplies *
- Divided /

In [14]:
str(x) + b

'4Hello'

In [10]:
"2" + "hi"

'2hi'

In [12]:
20*"Hi "

'Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi '

4- What are the types of the output (when an error is not produced) in the above operations?

5- Input the variable _ex = 'Python is an interesting and useful language for numerical computing!'_. Using slicing, extract:
- Python
- !
- computing
- in
- !gnitupmoc laciremun rof egaugnal lufesu dna gnitseretni na si nohtyP' (Reversed)
- nohtyP
- Pto sa neetn n sfllnug o ueia optn!

In [15]:
ex = 'Python is an interesting and useful language for numerical computing!'

In [16]:
ex

'Python is an interesting and useful language for numerical computing!'

In [23]:
ex[0:6]

'Python'

In [24]:
len(ex)

69

In [26]:
ex[68]

'!'

In [27]:
ex[-1]

'!'

In [30]:
ex[-10:-1]

'computing'

In [32]:
ex[59:68]

'computing'

In [33]:
ex[-4:-2]

'in'

In [34]:
ex.find('in')

13

In [35]:
ex[13:15]

'in'

In [40]:
ex[-1::-1]

'!gnitupmoc laciremun rof egaugnal lufesu dna gnitseretni na si nohtyP'

In [42]:
ex[5::-1]

'nohtyP'

In [44]:
ex[0::2]

'Pto sa neetn n sfllnug o ueia optn!'

In [54]:
list1 = [ "Apple", 2, 4.5 , 2]

In [55]:
list1

['Apple', 2, 4.5, 2]

In [48]:
type(list1)

list

In [49]:
len(list1)

3

In [51]:
list1[0]

'Apple'

In [52]:
list1[-1]

4.5

In [53]:
list1[::-1]

[4.5, 2, 'Apple']

In [56]:
list1.append("Orange")

In [59]:
list1[0][::-1]

'elppA'

In [60]:
list1.extend([1,2,3])

In [61]:
list1

['Apple', 2, 4.5, 2, 'Orange', 1, 2, 3]

In [62]:
list1.append([1,2,3])

In [64]:
list1

['Apple', 2, 4.5, 2, 'Orange', 1, 2, 3, [1, 2, 3]]

In [65]:
list1[::2]

['Apple', 4.5, 'Orange', 2, [1, 2, 3]]

In [66]:
my_set = {1,2,3,2}

In [67]:
my_set

{1, 2, 3}

In [69]:
set(['Apple', 2, 4.5, 2, 'Orange', 1, 2, 3])

{1, 2, 3, 4.5, 'Orange', 'Apple'}

In [70]:
my_dict = {'Apple': 'fruit', 'Orange':'fruit', 'Tomato':'veggie'}

In [71]:
my_dict

{'Apple': 'fruit', 'Orange': 'fruit', 'Tomato': 'veggie'}

In [73]:
my_dict['Apple']

'fruit'

6- What are the direct 2 methods to construct a tuple that has only a single item? How many ways are there to construct a list with a single item?

7- Construct a nested list to hold the matrix

  1  .5   
  .5 1

so that item[i][j] corresponds to the position in the matrix (Remember that Python uses 0 indexing).

In [74]:
mat = [ [1, .5], [.5, 1]  ]

In [75]:
mat

[[1, 0.5], [0.5, 1]]

In [77]:
mat[0][1]

0.5

11- Initialize a list containing 4, 3.1415, 1.0, 2+4j, 'Hello', 'World'. How could you:
- Delete 1.0 if you knew its position? What if you didnâ€™t know its position?
- How can the list [1.0, 2+4j, 'Hello'] be added to the existing list?
- How can the list be reversed?
- In the extended list, how can you count the occurrence of 'Hello'?

In [81]:
l = [ 4, 3.1415, 1.0, 2+4j, 'Hello', 'World']

In [84]:
l.index(1.0)

2

In [79]:
l.pop(2)

1.0

In [85]:
l.extend([1.0, 2+4j, 'Hello'] )

In [86]:
l

[4, 3.1415, 1.0, (2+4j), 'Hello', 'World', 1.0, (2+4j), 'Hello']

In [87]:
l[::-1]

['Hello', (2+4j), 1.0, 'World', 'Hello', (2+4j), 1.0, 3.1415, 4]

In [88]:
l.count('Hello')

2

12- Construct a dictionary with the keyword-value pairs: 'alpha' and 1.0, 'beta' and 3.1415,  'gamma' and -99. How can the value of alpha be retrieved?

In [89]:
d = { 'alpha':1.0, 'beta':3.1415, 'gamma':-99 }

In [90]:
d

{'alpha': 1.0, 'beta': 3.1415, 'gamma': -99}

In [91]:
d['alpha']

1.0

13- Convert the final list at the end of problem 11 to a set. How is the set different from the list?

In [97]:
set(l[::-1])

{1.0, 3.1415, 4, (2+4j), 'Hello', 'World'}